* {
margin: 0;
padding: 0; 
}

body {
  background-color: rgb(243, 240, 240); 
}

/* containers */

.container {
  width: 500px; 
  text-align: center; 
  margin: auto; 
  background-color: white; 
  padding-bottom: 50px; 
}

.task-container{
  display: flex; 
  align-items: center; 
  justify-content: center;
}

/* inputs */

.task-input {
  font-family: "Inter", sans-serif;
  background-color: #EEEEEE;
  border: none; 
  border-radius: 8px;
  height: 20px; 
  width: 225px; 
  padding: 15px;
  margin: 2px;  
  text-align: center;
  font-size: 17px; 
  font-weight: 300; 
}

/* text */

h1 {
  font-family: "Concert One", sans-serif;
  font-weight: 150; 
  font-size: 40px; 
  padding: 40px 0 25px 0; 
}

.task {
  font-family: "Inter", sans-serif;
  font-size: 17px; 
  font-weight: 300; 
  background-color: #FBDF7C; 
  border-radius: 7px;
  padding: 15px;
  margin: 6px 0 3px 20px; 
  width: 330px; 
}

.hidden{
  display: none; 
}

/* buttons */

.add-btn{
  background-color: #FFCC68;
  border: none; 
  padding: 14px 14px 15px 14px; 
  margin: 2px; 
  border-radius: 7px;
  font-size: 18px; 
  font-weight: 300; 
}

.remove-btn {
  background-color: #FF9548; 
  border: none; 
  padding: 5px 14px 13px 14px;   
  margin: 2px; 
  border-radius: 7px;
  font-size: 27px; 
  font-weight: 200; 
}

.task-remove-btn {
  margin: 5px; 
  font-size: 20px; 
  border: none; 
  background-color: white; 
}
